*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem; }

.container {
  display: flex;
  flex-direction: column; }

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100vh;
  background-image: url("../img/back-img.jpg");
  background-size: cover;
  background-position: center; }
  .hero__btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%); }

.heading-1 {
  font-size: 5rem; }

.heading-2 {
  font-size: 3.5rem; }

.heading-3 {
  font-size: 2rem; }

.btn-main {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: #f9f9f9;
  color: #4c4c4c; }
  .btn-main:focus {
    outline: none; }

.about {
  background-color: #f9f9f9;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; }
  .about__heading {
    padding: 3rem;
    text-align: center; }
  .about__img {
    width: 20vw;
    margin: 0 auto;
    border-radius: 3px; }
  .about__paragraph {
    text-align: center;
    padding: 5rem 30vw;
    font-size: 1.6rem; }

.contact {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .contact__heading {
    padding: 3rem;
    text-align: center; }
  .contact__paragraph {
    margin-bottom: 3rem;
    font-size: 1.4rem; }

.contact-form {
  display: flex;
  flex-direction: column; }
  .contact-form__group {
    display: flex;
    flex-direction: column;
    padding: .5rem; }
  .contact-form__input {
    border: none;
    border-bottom: 1px solid rgba(94, 94, 94, 0.3); }
    .contact-form__input:focus {
      outline: none; }
  .contact-form__textarea {
    border: none;
    border-bottom: 1px solid rgba(94, 94, 94, 0.3); }
    .contact-form__textarea:focus {
      outline: none; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #4c4c4c; }
  .nav__brand {
    text-decoration: none;
    color: white; }

.side-nav {
  display: flex; }
  .side-nav__item {
    list-style: none;
    padding: 1rem 0; }
  .side-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1rem;
    transition: all .2s; }
    .side-nav__link:hover {
      background-color: #f9f9f9;
      color: #4c4c4c; }
