*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Open sans", sans-serif;
  font-weight: 400;
  line-height: 1.6rem; }

.container {
  display: flex;
  flex-direction: column; }

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background-color: #aaa; }

.heading-1 {
  font-size: 5rem; }

.heading-2 {
  font-size: 3.5rem; }

.heading-3 {
  font-size: 2rem; }

.about {
  background-color: #f9f9f9;
  height: 90vh; }

.contact {
  background-color: #5e5e5e;
  height: 90vh; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3rem;
  background-color: #4c4c4c; }
  .nav__brand {
    text-decoration: none;
    color: white; }

.side-nav {
  display: flex; }
  .side-nav__item {
    list-style: none;
    padding: 1rem 0; }
  .side-nav__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 1rem 1rem;
    transition: all .2s; }
    .side-nav__link:hover {
      background-color: #f9f9f9;
      color: #4c4c4c; }
