.hero {
  position: relative;
  min-height: 100vh;
  
  &__img {
    background-image: url('../img/back-img.jpg');
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  &__btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

