.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  
  padding: 0 5rem;
  background-color: rgba($color-grey-dark-2, 0.6);
  transition: all .5s;
  
  &__brand {
    text-decoration: none;
    color: white;
    text-shadow: 0rem .1rem .3rem rgba(0, 0, 0, 0.8);
  }
  
  &:hover {
    background-color: rgba($color-grey-dark-2, 0.8);
  }
}

.side-nav {
  display: flex;
  
  &__item {
    list-style: none;
    padding: 1rem 0;
  }
  
  &__link {
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    text-shadow: 0rem .1rem .3rem rgba(0, 0, 0, 0.8);
    padding: 1rem 2rem;
    cursor: pointer;
    transition: all .2s;
    
    &:hover {
      background-color: rgba($color-grey-light-1, 0.8);
      text-shadow: none;
      color: $color-grey-dark-2;
    }
  }
  
  &__dropdown {
    overflow: hidden;
    
    &:hover .side-nav__dropdown-content {
      display: block;
      transform: scale(1);
      opacity: 1;
    }
  }
  
  &__dropdown-content {
    display: block;
    margin-top: 1rem;
    position: absolute;
    background-color: $color-grey-light-3;
    min-width: 13rem;
    text-align: center;
    z-index: 1;
    font-size: 1.5rem;
    box-shadow: 0 1rem 2rem rgba($color-grey-dark-2, 0.2);
    transform: scale(0);
    opacity: 0;
    transition: all .2s;
    
    & a {
      display: block;
      float: none;
      text-decoration: none;
      padding: 1rem 2rem;
      color: $color-grey-dark-1;
      
      &:nth-child(even) {
        background-color: $color-grey-light-1;
      }
     
      &:hover {
        background-color: $color-grey-light-2;
        color: white;
      } 
    }
  }
}