.heading-1 {
  font-size: 5rem;
}

.heading-2 {
  font-size: 3.5rem;
}

.heading-3 {
  font-size: 2rem;
}

.btn-main {
  border: none;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 3px;
  background-color: $color-grey-light-1;
  color: $color-grey-dark-2;
  
  &:hover {
    
  }
  
  &:focus {
    outline: none;
  }
}